# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:password@localhost:5432/fintrack"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret

NEXTAUTH_SECRET=LmjmaYD4g9y6i1OcSb6qhBGYHLV5e8E29srM9574tlQ=
NEXTAUTH_URL="http://localhost:3000"

# Providers
GOOGLE_CLIENT_ID=280869398296-nqunek5k7ft6g6i34u73nbchne32jivs.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=""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