{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "bracketSpacing": true,
  "singleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "printWidth": 80,
  "arrowParens": "avoid",
  "semi": true
}
