{
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "printWidth": 100,
  "arrowParens": "avoid",
  "semi": true
}
